USE [master]
GO
/****** Object:  Database [MvcDbStok]    Script Date: 10.06.2023 15:07:54 ******/
CREATE DATABASE [MvcDbStok]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MvcDbStok', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.WINCC\MSSQL\DATA\MvcDbStok.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'MvcDbStok_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.WINCC\MSSQL\DATA\MvcDbStok_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MvcDbStok].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MvcDbStok]
GO
/****** Object:  User [SIMATIC HMI VIEWER User]    Script Date: 10.06.2023 15:07:54 ******/
CREATE USER [SIMATIC HMI VIEWER User] FOR LOGIN [DESKTOP-NIJEM97\SIMATIC HMI VIEWER]
GO
/****** Object:  User [SIMATIC HMI User]    Script Date: 10.06.2023 15:07:54 ******/
CREATE USER [SIMATIC HMI User] FOR LOGIN [DESKTOP-NIJEM97\SIMATIC HMI]
GO
/****** Object:  DatabaseRole [SIMATIC HMI VIEWER role]    Script Date: 10.06.2023 15:07:54 ******/
CREATE ROLE [SIMATIC HMI VIEWER role]
GO
/****** Object:  DatabaseRole [SIMATIC HMI role]    Script Date: 10.06.2023 15:07:54 ******/
CREATE ROLE [SIMATIC HMI role]
GO
ALTER ROLE [SIMATIC HMI VIEWER role] ADD MEMBER [SIMATIC HMI VIEWER User]
GO
ALTER ROLE [db_datareader] ADD MEMBER [SIMATIC HMI VIEWER User]
GO
ALTER ROLE [SIMATIC HMI role] ADD MEMBER [SIMATIC HMI User]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [SIMATIC HMI User]
GO
ALTER ROLE [db_datareader] ADD MEMBER [SIMATIC HMI User]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [SIMATIC HMI User]
GO
ALTER ROLE [db_datareader] ADD MEMBER [SIMATIC HMI VIEWER role]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [SIMATIC HMI role]
GO
ALTER ROLE [db_datareader] ADD MEMBER [SIMATIC HMI role]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [SIMATIC HMI role]
GO
/****** Object:  Table [dbo].[TblKategoriler]    Script Date: 10.06.2023 15:07:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblKategoriler](
	[KategoriId] [smallint] IDENTITY(1,1) NOT NULL,
	[KategoriAd] [varchar](100) NULL,
 CONSTRAINT [PK_TblKategoriler] PRIMARY KEY CLUSTERED 
(
	[KategoriId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblMusteri]    Script Date: 10.06.2023 15:07:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblMusteri](
	[MusteriId] [int] IDENTITY(1,1) NOT NULL,
	[MusteriAd] [varchar](100) NULL,
	[MusteriSoyad] [varchar](100) NULL,
 CONSTRAINT [PK_TblMusteri] PRIMARY KEY CLUSTERED 
(
	[MusteriId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblSatislar]    Script Date: 10.06.2023 15:07:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblSatislar](
	[SatisId] [int] IDENTITY(1,1) NOT NULL,
	[UrunId] [int] NULL,
	[MusteriId] [int] NULL,
	[Adet] [tinyint] NULL,
	[Fiyat] [decimal](18, 2) NULL,
	[Durum] [bit] NULL,
 CONSTRAINT [PK_TblSatislar] PRIMARY KEY CLUSTERED 
(
	[SatisId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblUrunler]    Script Date: 10.06.2023 15:07:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblUrunler](
	[UrunId] [int] IDENTITY(1,1) NOT NULL,
	[UrunAd] [varchar](100) NULL,
	[Marka] [varchar](50) NULL,
	[KategoriId] [smallint] NULL,
	[Fiyat] [decimal](18, 2) NULL,
	[Stok] [tinyint] NULL,
 CONSTRAINT [PK_TblUrunler] PRIMARY KEY CLUSTERED 
(
	[UrunId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TblKategoriler] ON 

INSERT [dbo].[TblKategoriler] ([KategoriId], [KategoriAd]) VALUES (1, N'BEYAZ EŞYA')
INSERT [dbo].[TblKategoriler] ([KategoriId], [KategoriAd]) VALUES (2, N'KÜÇÜK EV ALETLERİ')
INSERT [dbo].[TblKategoriler] ([KategoriId], [KategoriAd]) VALUES (3, N'BİLGİSAYAR')
SET IDENTITY_INSERT [dbo].[TblKategoriler] OFF
GO
SET IDENTITY_INSERT [dbo].[TblMusteri] ON 

INSERT [dbo].[TblMusteri] ([MusteriId], [MusteriAd], [MusteriSoyad]) VALUES (1, N'EMEL', N'ÇINARLI')
INSERT [dbo].[TblMusteri] ([MusteriId], [MusteriAd], [MusteriSoyad]) VALUES (2, N'ALİ', N'YILDIZ')
INSERT [dbo].[TblMusteri] ([MusteriId], [MusteriAd], [MusteriSoyad]) VALUES (3, N'MEHMET', N'ÖZTÜRK')
SET IDENTITY_INSERT [dbo].[TblMusteri] OFF
GO
SET IDENTITY_INSERT [dbo].[TblSatislar] ON 

INSERT [dbo].[TblSatislar] ([SatisId], [UrunId], [MusteriId], [Adet], [Fiyat], [Durum]) VALUES (1, 3, 4, 1, CAST(145.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[TblSatislar] ([SatisId], [UrunId], [MusteriId], [Adet], [Fiyat], [Durum]) VALUES (2, 4, 4, 1, CAST(145.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[TblSatislar] ([SatisId], [UrunId], [MusteriId], [Adet], [Fiyat], [Durum]) VALUES (3, 3, 4, 1, CAST(150.00 AS Decimal(18, 2)), NULL)
SET IDENTITY_INSERT [dbo].[TblSatislar] OFF
GO
SET IDENTITY_INSERT [dbo].[TblUrunler] ON 

INSERT [dbo].[TblUrunler] ([UrunId], [UrunAd], [Marka], [KategoriId], [Fiyat], [Stok]) VALUES (1, N'ÇAMAŞIR MAKİNESİ', N'ARÇELİK', 1, CAST(12000.00 AS Decimal(18, 2)), 15)
INSERT [dbo].[TblUrunler] ([UrunId], [UrunAd], [Marka], [KategoriId], [Fiyat], [Stok]) VALUES (2, N'BULAŞIK MAKİNESİ', N'ARÇELİK', 1, CAST(9500.00 AS Decimal(18, 2)), 10)
INSERT [dbo].[TblUrunler] ([UrunId], [UrunAd], [Marka], [KategoriId], [Fiyat], [Stok]) VALUES (3, N'SU ISITICI', N'VESTEL', 2, CAST(500.00 AS Decimal(18, 2)), 10)
SET IDENTITY_INSERT [dbo].[TblUrunler] OFF
GO
ALTER TABLE [dbo].[TblUrunler]  WITH CHECK ADD  CONSTRAINT [FK_TblUrunler_TblKategoriler] FOREIGN KEY([KategoriId])
REFERENCES [dbo].[TblKategoriler] ([KategoriId])
GO
ALTER TABLE [dbo].[TblUrunler] CHECK CONSTRAINT [FK_TblUrunler_TblKategoriler]
GO
/****** Object:  DdlTrigger [OnTriggerDboSchema]    Script Date: 10.06.2023 15:07:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE trigger [OnTriggerDboSchema] ON database FOR create_table, create_view AS BEGIN   DECLARE @xmlEventData xml   SELECT    @xmlEventData = eventdata()   DECLARE @schemaName nvarchar(max)   DECLARE @objectName nvarchar(max)   DECLARE @DynSql nvarchar(max)      SET @schemaName    = convert(nvarchar(max), @xmlEventData.query('/EVENT_INSTANCE/SchemaName/text()'))   SET @objectName    = convert(nvarchar(max), @xmlEventData.query('/EVENT_INSTANCE/ObjectName/text()'))   IF(@schemaName='')   BEGIN     SET @DynSql = N'alter schema [dbo] transfer [' + @schemaName + N'].[' + @objectName + N']'     EXEC sp_executesql @statement=@DynSql   END END SET QUOTED_IDENTIFIER ON SET ANSI_NULLS ON 
GO
ENABLE TRIGGER [OnTriggerDboSchema] ON DATABASE
GO
USE [master]
GO
