
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<style>
    body {
        margin: 0;
        padding: 0;
        background-color: #f8f8f8;
    }

    .content {
        width: 500px;
        height: 400px;
        background-color: rgba(0, 128, 128, 0.6);
        text-align: center;
        padding-top: 30px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .content2 {
        margin-top: 5%;
    }
    p{
        font-size:16px;
    }
</style>

<div class="content">
    <div class="content2">
        <h2>Bu Proje İlker Şenel Tarafından Yapılmıştır</h2>
        <p>
            Yaptığım Projeleri İnceleyebilirsiniz<br />Github Hesabım:<a href="https://github.com/illkkeerr">link</a>
            <br />Linkedin Hesabım:<a href="https://www.linkedin.com/notifications/?filter=all">link</a>
        </p>
    </div>

</div>

